<!DOCTYPE html>
<html>
<head>
  <title>Budget App</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
</body>
</html>